*{
    margin: 0;
    padding: 0;
}

/*############# Menu ###############*/
.menu-container{
    background-color: #D5A021;
    color: #4B4237;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

/*Separate 'Header Logo' from 'links'*/
.menu-link-one{
    margin-left: auto;
}
.menu-link-two{
    margin-left: 20px;
}
.menu-link-three{
    margin-left: 20px;
}

.menu-logo{
    font-weight: bold;
    font-size: 22px;
}

.menu{
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

/*############# Header ###############*/
.header-container{
    /*border: 1px white solid; /*Debug*/
    background-color: #D5A021;
    color: #4B4237;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
.header-intro{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.header-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.header-text{
    font-size: 20px;
    margin-bottom: 20px;
}
.header-signup-button{
    font-weight: bold;
    background-color: #736B60;
    color: #EDE7D9;
    width: 90px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    transition-duration: 0.4s;
}
.header-signup-button:hover{
    background-color: #EDE7D9;
    color: #736B60;
}

/*############# Information One ###############*/
.information-one-container{
    background-color: #EDE7D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.information-one-tittle{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
    color: #4B4237;
}

.information-one-display{
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.information-one-display div{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.information-one-display div p{
    margin-top: 10px;
    color: #736B60;
    
}
/*.information-one-display div img{All the display one images here}*/

/*############# Quote Area ###############*/
.quote-area-container{
    background-color: #C9BFB7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.quote-area{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.quote-text{
    font-size: 30px;
    color: #4B4237;
    font-style: italic;
}
.quote-owner{
    font-size: 25px;
    color: #4B4237;
    font-weight: bold;
    margin-top: 20px;

}

/*############# Subscribe Area ###############*/
.subscribe-area-container{
    background-color: #EDE7D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.subscribe-box{
    border-radius: 10px;
    background-color: #D5A021;
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscribe-text{
    color: #4B4237;
}
.subscribe-text-tittle{
    font-weight: bold;
    font-size: 25px;
}
.subscribe-signup-button{
    font-weight: bold;
    background-color: #736B60;
    color: #EDE7D9;
    width: 90px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    transition-duration: 0.4s;
}
.subscribe-signup-button{
    background-color: #EDE7D9;
    color: #736B60;
}